* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: Arial, sans-serif;
    background-color: #e4a838;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
.quiz-container {
    background-color: white;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
  
h1 {
    margin-bottom: 20px;
    color: brown;
    font-weight: bold;
    font-size: 35px;
}

#question {
    font-weight: bold;
    font-size: 30px;
}

#options {
    margin: 20px;
}
  
.option {
    background-color: #ba0047;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}
  
.option:hover {
    background-color: #45a049;
}
  
#timer {
    font-size: 20px;
    color: rgb(255, 0, 0);
}
  
#result {
    display: none;
}

#score {
    font-size: 50px;
    color: #358f1f;
}
  
#restart-btn, #start-btn {
    margin-top: 20px;
    padding: 10px 20px;
    height: 80px;
    width: 200px;
    background-color: #ba0047;
    color: white;
    font-size: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
  
#restart-btn:hover, #start-btn:hover {
    background-color: #007bb5;
}
